= simple_form_for @resource do |f|
  = f.error_notification
  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :hours_per_week
    = f.input :allowed_shifts_type, as: :check_boxes, collection: Shift::TYPES

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
