%h1 Listing resources

%table.table
  %thead
    %tr
      %th First name
      %th Last name
      %th Hours/week
      %th Allowed shifts type
      %th
      %th
      %th

  %tbody
    - @resources.each do |resource|
      %tr
        %td= resource.first_name
        %td= resource.last_name
        %td= resource.hours_per_week
        %td= resource.allowed_shifts_type.join(', ')
        %td
          = link_to 'Show', resource, class: 'btn btn-default'
          = link_to 'Edit', edit_resource_path(resource), class: 'btn btn-default'
          = link_to 'Destroy', resource, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

.actions
  = link_to 'New Resource', new_resource_path, class: 'btn btn-default'
