%p#notice= notice

%p
  %b First name:
  = @resource.first_name
%p
  %b Last name:
  = @resource.last_name
%p
  %b Hours per week:
  = @resource.hours_per_week
%p
  %b Allowed shifts type:
  = @resource.allowed_shifts_type.join(', ')
.actions
  = link_to 'Edit', edit_resource_path(@resource), class: 'btn btn-default'
  = link_to 'Back', resources_path, class: 'btn btn-default'
