//= require_tree .
//= require_self

a
  text-decoration: none
  color: navy
  &:hover
    text-decoration: underline

.btn
  margin-left: 1ex
  margin-right: 1ex
  &+.btn
    mergin-left: 0

.actions, .form-actions
  padding: 0px 2ex
