.plan
  th, td
    text-align: center
    background-color: #ddd
    &.weekend
      color: maroon
      border: 1px solid maroon
      &+.weekend+td, &+.weekend+th
        border-left: 4px dashed black
        margin-left: 4px
    &.night
      color: white
      background-color: navy
    &.rest
      color: white
      background-color: green
    &.early
      background-color: yellow
    &.day
      background-color: orange
    &.late
      background-color: violet
    &.anyday
      background-color: coral
