- if @message
  %h3 message has been sent
= simple_form_for @plan_email, url: send_email_plan_url(@plan) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email

  .form-actions
    = f.button :submit, value: "Send email", class: 'btn btn-default'
