%table.table.plan.table-fluid
  %thead
    %tr
      %th

      - @plan.dates.each do |date|
        %th{title:date, class: [*(date.saturday? || date.sunday? ? :weekend : nil)] }
          =date.day
  %tbody
    - @resources.each do |resource|
      %tr
        %th
          = link_to "#{resource.full_name} [#{resource.hours_per_week}] [#{resource.allowed_shifts_types_short}]", resource
        - @plan.dates.each do |date|
          %td{class: [*(date.saturday? || date.sunday? ? :weekend : nil), @plan.shift_for_resources_at(resource, date).try(:type)]}
            = @plan.shift_for_resources_at(resource, date)
