%h1 Listing plans

%table.table
  %thead
    %tr
      %th Start date
      %th End date
      %th Title
      %th

  %tbody
    - @plans.each do |plan|
      %tr
        %td= plan.start_date
        %td= plan.end_date
        %td= plan.title
        %td
          = link_to 'Show', plan, class: 'btn btn-default'
          = link_to 'Edit', edit_plan_path(plan), class: 'btn btn-default'
          = link_to 'Destroy', plan, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

.actions
  = link_to 'New Plan', new_plan_path, class: 'btn btn-default'
