%p#notice= notice

%p
  %b Start date:
  = @plan.start_date
%p
  %b End date:
  = @plan.end_date
%p
  %b Title:
  = @plan.title

= render @plan

.actions
  = link_to 'Edit', edit_plan_path(@plan), class: 'btn btn-default'
  = link_to 'Reset', reset_plan_path(@plan), method: :put, class: 'btn btn-default' if @plan.reset?
  = link_to 'Email', send_email_plan_path(@plan), class: 'btn btn-default' if @plan.send_email?
  = link_to 'Generate', generate_plan_path(@plan), method: :put, class: 'btn btn-default' if @plan.generate?
  = link_to 'Back', plans_path, class: 'btn btn-default'
