%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      =link_to 'H+', root_url, class: 'navbar-brand'
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'plans', Plan
        %li= link_to 'resources', Resource
